body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
a {
    color: black;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* HEADER */

.fullNavbar {
    background-color: #B70909;
    width: 100%;
    height: 100px;
}
.navbar {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}
.navbarBorder {
    border-bottom: 2px solid;
    border-color: black;
}
.centralNavbar {
    margin: 0 auto;
}
.iconImage {
    width: 30px;
    height: 30px;
}
.marginNav {
    margin-right: 60px !important;
}
.navMenu {
    display: flex;
}

.navMenu a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navMenu:hover {
    background: linear-gradient(to bottom, #FFFFFF00 0%, #FDB426 100%);
}
.activeMenu {
    background: linear-gradient(to bottom, #FFFFFF00 0%, #FDB426 100%);
}

/* FOOTER  */

.fullFooter {
    background-color: black;
    width: 100%;
    padding-bottom: 50px;
}
.footer {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    /* background-color: teal; */
}
.footerMenu {
    width: 350px;
    /* background-color: #FDB426; */
}